<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientLib.all @ categories='multiselectplugin'}" />

<div class="example">

	<script type="text/javascript">
		$(document).ready(function() {
			$('#modifiedPage').multiselect({
				enableHTML : false,
				maxHeight : 400,
				buttonWidth : '200px',
				enableCaseInsensitiveFiltering : true,
				includeFilterClearBtn : true,
				includeSelectAllOption : true,
				selectAllJustVisible : false
			});

			$('#createdPage').multiselect({
				enableHTML : false,
				maxHeight : 400,
				buttonWidth : '200px',
				enableCaseInsensitiveFiltering : true,
				includeFilterClearBtn : true,
				includeSelectAllOption : true,
				selectAllJustVisible : false
			});

			$('#countries').multiselect({
				enableHTML : false,
				maxHeight : 400,
				buttonWidth : '200px',
				enableFiltering : true,
				includeFilterClearBtn : true,
				includeSelectAllOption : true,
				selectAllJustVisible : false,
				includeResetOption : true
			});

		});
	</script>

	<sly
		data-sly-use.model="com.adobe.aem.accelerator.program.core.models.RollOutConfigModel">
	<sly data-sly-test.pageMap="${model.modifiedOrCreatedPages}" /> </sly>

	<form action="/bin/accelerator/page/finder.json" method="get">
		<div class="form-group">
			<label for="createdPage">Choose created pages:</label>
            <div>      
                <select id="createdPage" class="form-control" name="createdPage" multiple="multiple">
                    <option data-sly-repeat="${pageMap['createdPage']}" value="${item.path}">${item.title}</option>
                </select>
            </div>    
		</div>
		<div class="form-group">
			<label for="modifiedPage">Choose modified pages:</label>
            <div>    
                <select id="modifiedPage" class="form-control" name="modifiedPage" multiple="multiple">
                    <option data-sly-repeat="${pageMap['modifiedPage']}" value="${item.path}">${item.title}</option>
                </select>
            </div>    
		</div>
		<div class="form-group">	
			<label for="countries">Choose countries:</label>
            <div>      
                <select id="countries" class="form-control" name="countries" multiple="multiple">
                    <option data-sly-repeat="${model.countriesSet}" value="${item.path}">${item.title}</option>
                </select>
            <div>      
		</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" name="isDeep" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Roullout Children</label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Rollout</button>

	</form>

</div>
