
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 50;
  color: #eef3ef;
}

/* Header/Logo Title */
.rolloutheader {
  padding: 60px;
  text-align: center;
  background: #D3D3D3;
  color: #eef3ef;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>

<sly data-sly-test="${wcmmode.edit}">

<div class="rolloutheader">
  <h1 style="color:#0e0e0e;">Create Multiple Sites</h1>
  <p style="color:#0e0e0e;">Edit the component and then start Create liveCopy Workflow to create multiple sites in one go.</p>
</div>

</sly>
